<footer class="footer pt-5 mt-5 text-center">
  <hr class="horizontal dark mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 mb-4">
        <div>
          <h6 class="text-gradient text-primary font-weight-bolder">Dealer System</h6>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="my-4 text-sm">
            Dealer System by &copy; <a target="_blank" href="https://bit.ly/3fKQZaL">Ostap</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
