{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
    <a href="{% url 'dealer:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'dealer:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <h1>
    Manufacturer Detail:
    {% if car in user.cars.all %}
      <a href="{% url 'dealer:toggle-car-assign' pk=car.id %}" class="btn btn-danger link-to-page">
        Delete me from this car
      </a>
    {% else %}
      <a href="{% url 'dealer:toggle-car-assign' pk=car.id %}" class="btn btn-success link-to-page">
        Assign
      </a>
    {% endif %}
  </h1>
  <p>Name Car: ({{ car.manufacturer.name }})</p>
  <p>Manufacturer Country: ({{ car.manufacturer.country }})</p>
  <hr>
  <ul>
    {% for driver in car.drivers.all %}
      <li>{{ dealer.username }} ({{ dealer.first_name }} {{ dealer.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
