{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  <h1>
    City list
    <a href="{% url 'dealer:city-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% include "search.html" %}
  {% if city_list %}
    <ul>
      {% for city in city_list %}
        <li>
          <a href="{% url "dealer:city-detail" pk=city.id %} ">{{ city.id }}</a>
          {{ city.model }} ({{ city.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cities in taxi</p>
  {% endif %}
{% endblock %}
