{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ driver.username }}
    <a href="{% url 'dealer_purchase:driver-delete' pk=driver.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'dealer_purchase:driver-update' pk=driver.id %}" class="btn btn-secondary link-to-page">
      Update license number
    </a>
  </h1>

  <p><strong>First name:</strong> {{ dealer.first_name }}</p>
  <p><strong>Last name:</strong> {{ dealer.last_name }}</p>
  <p><strong>License number:</strong> {{ dealer.license_number }}</p>
  <p><strong>Is staff:</strong> {{ dealer.is_staff }}</p>

  <div class="ml-3">
    <h4>Cars</h4>

    {% for car in dealer.cars.all %}
        <hr>
        <p><strong>Model:</strong> {{ model-car.model }}</p>
        <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}</p>
        <p class="text-muted"><strong>Id:</strong> {{model-car.id}}</p>

    {% empty %}
      <p>No cars!</p>
    {% endfor %}
  </div>
{% endblock %}
